html,
body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #041820;
}

a:link,
a:active {
  color: #1a728f;
}
a:hover {
  color: #44bbe3;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.search {
  border: 1px solid lightblue;
  border-radius: 5px;
  padding: 5px 15px;
  background: lightblue;
}

.user {
  position: relative;
  border: 1px solid lightblue;
  background: #f5fcff;
  border-radius: 5px;
  padding: 5px 15px;
  margin: 0.5em 0;
}
.user-field {
  margin: 0.5em 0;
}
.user-label {
  color: #37464c;
}
.user-name {
  font-weight: bold;
}
.user-username,
.user-email,
.user-phone {
  font-family: "Courier New", Courier, monospace;
}
.user-map {
  padding: 10px 0;
  float: right;
}

.delete-button {
  position: absolute;
  top: 5px;
  right: 5px;

  border: 1px solid lightblue;
  background: lightblue;
  border-radius: 100%;
  width: 22px;
  height: 22px;
  font-weight: bold;
  color: white;
}
.delete-button:hover {
  cursor: pointer;
  background-color: #c2eaf8;
  border-color: #c2eaf8;
}
.delete-button:active {
  top: 7px;
  right: 4px;
}
